@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Transaction Timeout</h1>
    <p>
        Connection Timeout. Please Try again.
    </p>
    <a href="/Dashboard/Index">Go back to home</a>
</div>