@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Transaction Failed</h1>
    <p>
        Transaction not approved by bank.
        There is an error with your card.
        Please contact your bank.
    </p>
    <a href="/Dashboard/Index">Go back to home</a>
</div>